@model PassPort
@{
    ViewData["Title"] = "Home Page";
}


<form asp-controller="Home" asp-action="Index" method="post" class="form-horizontal" role="form">
    <h4>Please Enter Your PassPort Data/Пожалуйста, Введите Свои Паспортные Данные</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="passSeries" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="@Model.passSeries " class="form-control" />
            <span asp-validation-for="passSeries" class="text-danger"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="passNumber" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="passNumber" class="form-control" />
            <span asp-validation-for="passNumber" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Validate PassPort" />
        </div>
    </div>
    <div>@ViewBag.message  </div>
</form>